@charset "UTF-8";
* {
  font-family: '微軟正黑體';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#gototop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 80px;
  right: 80px;
  z-index: 99999;
  cursor: pointer;
  background-color: #7F1116;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

#gototop svg {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

#gototop:hover {
  background-color: #7C3A12;
  border: 1px solid #eee;
}

p {
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  p {
    font-size: 18px;
  }
}

nav {
  background-color: #41220e;
}

nav img {
  height: 44px;
}

nav ul li a {
  padding: 10px 15px !important;
  letter-spacing: 4px;
  color: #FFF !important;
}

nav ul li:hover a {
  color: #f9ca66 !important;
}

@media screen and (max-width: 768px) {
  nav .nav-link {
    text-align: center;
  }
}

nav .navbar-toggler-icon {
  background-image: url("../img/hbbb.svg") !important;
}

#section01 {
  background-color: #ffebbb;
  background-color: #d23234;
  width: 100%;
  height: calc(100vh - 56px);
  background-image: url("../img/02-Banner-03.png");
  background-position: center;
  background-attachment: fixed;
  position: relative;
  -webkit-animation: background_flash 1s infinite cubic-bezier(0.86, 0, 0.07, 1);
          animation: background_flash 1s infinite cubic-bezier(0.86, 0, 0.07, 1);
}

#section01 #building {
  width: 100%;
  height: 100%;
  background-image: url("../img/02-Banner-02.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section01 #building .icon {
  margin: 0 auto 50px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
}

@media screen and (max-width: 768px) {
  #section01 #building .icon {
    margin: 0 auto 80px;
  }
}

#section01 #building .icon .img {
  width: 100%;
  height: 100vh;
  background-image: url("../img/02-Banner-01-01.png");
  background-attachment: fixed;
  background-position-x: center;
  background-size: 50%;
  background-position-y: 50vh;
  background-repeat: no-repeat;
  -webkit-transition: 0.5s cubic-bezier(0, 1.05, 0.38, 0.9);
  transition: 0.5s cubic-bezier(0, 1.05, 0.38, 0.9);
}

@media screen and (max-width: 1200px) {
  #section01 #building .icon .img {
    background-size: contain;
  }
}

#section02 {
  overflow: hidden;
  background-color: #572b10;
}

#section02 .img-block {
  width: 100%;
  height: calc( 100vh - 54px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 1200px) {
  #section02 .img-block {
    height: 50vh;
  }
}

#section02 .img-block .img-comp-container {
  position: relative;
  height: 100%;
}

#section02 .img-block .img-comp-container .img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#section02 .img-block .img-comp-container .img-comp-img img {
  width: 100vw;
  height: 100%;
  display: block;
  vertical-align: middle;
  -o-object-fit: contain;
     object-fit: contain;
}

#section02 .img-block .img-comp-container .img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 5px;
  height: 100%;
  background-color: #fff;
  opacity: 0.7;
}

#section02 .img-block .img-comp-container .img-comp-slider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12.5px 0 12.5px 25px;
  border-color: transparent transparent transparent #fff;
  -webkit-animation: silder_compL 0.5s ease-in-out infinite;
          animation: silder_compL 0.5s ease-in-out infinite;
}

#section02 .img-block .img-comp-container .img-comp-slider::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12.5px 25px 12.5px 0;
  border-color: transparent #fff transparent transparent;
  -webkit-animation: silder_compR 0.5s ease-in-out infinite;
          animation: silder_compR 0.5s ease-in-out infinite;
}

#section02 .title {
  min-height: 50vh;
  padding: 100px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#section02 .title h1 {
  color: #ffedbc;
  margin: 0px 0px 20px;
}

#section02 .title p {
  color: #ffc399;
  text-align: justify;
}

#section02 .block {
  position: relative;
}

@media screen and (max-width: 1200px) {
  #section02 .block {
    height: 40vh;
  }
}

#section02 .block .Figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 50vw;
  height: 100%;
  background-image: url("../img/03-Section1.jpg");
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1200px) {
  #section02 .block .Figure {
    width: 100%;
  }
}

#section03 {
  background-color: #fff1cc;
  background-image: url("../img/S-CatgoryBackground.jpg");
  background-position: center;
  background-size: cover;
}

#section03 .block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section03 .block .title h1 {
  text-align: center;
  font-weight: bolder;
  letter-spacing: 5px;
  margin: 0px 0px 25px;
}

#section03 .block .title p {
  max-width: 580px;
  margin: 0 auto 50px;
  letter-spacing: 3px;
  text-align: justify;
}

@media screen and (max-width: 576px) {
  #section03 .block .title p {
    letter-spacing: 1px;
  }
}

#section03 .block .content .row {
  margin: 0px 0px 30px;
}

@media screen and (max-width: 576px) {
  #section03 .block .content .row {
    margin: 0px;
  }
}

#section03 .block .content .row .icon {
  padding: 0px 0px 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 576px) {
  #section03 .block .content .row .icon {
    padding: 0px 0px 100px;
  }
}

#section03 .block .content .row .icon::before {
  content: attr(data-name) "類";
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  letter-spacing: 5px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 576px) {
  #section03 .block .content .row .icon::before {
    width: unset;
  }
}

#section03 .block .content .row .icon img {
  width: 70%;
}

@media screen and (max-width: 576px) {
  #section03 .block .content .row .icon img {
    width: 100%;
  }
}

#section03 #PhotoWall {
  height: 100vh;
}

@media screen and (max-width: 576px) {
  #section03 #PhotoWall {
    height: 50vh;
  }
}

#section03 #PhotoWall .slides {
  height: 100%;
}

#section03 #PhotoWall .slides .swiper {
  height: 33.333%;
}

#section03 #PhotoWall .slides .swiper .swiper-container {
  width: 100%;
  height: 100%;
}

#section03 #PhotoWall .slides .swiper .swiper-container .swiper-wrapper {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

#section03 #PhotoWall .slides .swiper .swiper-container .swiper-wrapper .swiper-slide {
  width: 450px !important;
  max-width: 450px !important;
  height: 100%;
  background-color: #999999;
  background-position: center;
  background-size: cover;
  border: 1px solid black;
  -webkit-filter: contrast(50%) brightness(150%) grayscale(100%);
          filter: contrast(50%) brightness(150%) grayscale(100%);
  position: relative;
}

#section03 #PhotoWall .slides .swiper .swiper-container .swiper-wrapper .swiper-slide:hover {
  -webkit-filter: opacity(100%);
          filter: opacity(100%);
}

#section03 #PhotoWall .slides .swiper #ture .line1pic1 {
  background-image: url(../img/05-Section3-01.jpg);
}

#section03 #PhotoWall .slides .swiper #ture .line1pic2 {
  background-image: url(../img/05-Section3-02.jpg);
}

#section03 #PhotoWall .slides .swiper #ture .line1pic3 {
  background-image: url(../img/05-Section3-03.jpg);
}

#section03 #PhotoWall .slides .swiper #ture .line1pic4 {
  background-image: url(../img/05-Section3-04.jpg);
}

#section03 #PhotoWall .slides .swiper #ture .line1pic5 {
  background-image: url(../img/05-Section3-05.jpg);
}

#section03 #PhotoWall .slides .swiper #ture .line1pic6 {
  background-image: url(../img/05-Section3-06.jpg);
}

#section03 #PhotoWall .slides .swiper #reverse .line1pic1 {
  background-image: url(../img/05-Section3-07.jpg);
}

#section03 #PhotoWall .slides .swiper #reverse .line1pic2 {
  background-image: url(../img/05-Section3-08.jpg);
}

#section03 #PhotoWall .slides .swiper #reverse .line1pic3 {
  background-image: url(../img/05-Section3-09.jpg);
}

#section03 #PhotoWall .slides .swiper #reverse .line1pic4 {
  background-image: url(../img/05-Section3-10.jpg);
}

#section03 #PhotoWall .slides .swiper #reverse .line1pic5 {
  background-image: url(../img/05-Section3-11.jpg);
}

#section03 #PhotoWall .slides .swiper #reverse .line1pic6 {
  background-image: url(../img/05-Section3-12.jpg);
}

#section03 #PhotoWall .slides .swiper #ture2 .line1pic1 {
  background-image: url(../img/05-Section3-13.jpg);
}

#section03 #PhotoWall .slides .swiper #ture2 .line1pic2 {
  background-image: url(../img/05-Section3-14.jpg);
}

#section03 #PhotoWall .slides .swiper #ture2 .line1pic3 {
  background-image: url(../img/05-Section3-15.jpg);
}

#section03 #PhotoWall .slides .swiper #ture2 .line1pic4 {
  background-image: url(../img/05-Section3-06.jpg);
}

#section03 #PhotoWall .slides .swiper #ture2 .line1pic5 {
  background-image: url(../img/05-Section3-08.jpg);
}

#section03 #PhotoWall .slides .swiper #ture2 .line1pic6 {
  background-image: url(../img/05-Section3-03.jpg);
}

#section04 {
  height: calc(100vh - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff1cc;
  background-image: url("../img/00-body-img.jpg");
  background-position: center;
  background-size: cover;
  padding: 50px 0px;
}

@media screen and (max-width: 576px) {
  #section04 {
    height: 100vh;
  }
}

#section04 h1 {
  text-align: center;
  padding: 50px 0px;
  font-weight: bolder;
  letter-spacing: 3px;
  color: #572b10;
}

@media screen and (max-width: 576px) {
  #section04 h1 {
    padding: 0px 0px 25px;
  }
}

#section04 .block {
  position: relative;
}

#section04 .block .swiper-container {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 576px) {
  #section04 .block .swiper-container {
    width: 80%;
  }
}

#section04 .block .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-start;
  background-color: #fff;
}

#section04 .block .swiper-container .swiper-slide:nth-child(4n+0) .card .card-img {
  background-image: url("../img/06-Section4-01.jpg");
  background-position: bottom;
  background-size: cover;
}

#section04 .block .swiper-container .swiper-slide:nth-child(4n+1) .card .card-img {
  background-image: url("../img/06-Section4-02.jpg");
  background-position: bottom;
  background-size: cover;
}

#section04 .block .swiper-container .swiper-slide:nth-child(4n+2) .card .card-img {
  background-image: url("../img/06-Section4-03.jpg");
  background-position: bottom;
  background-size: cover;
}

#section04 .block .swiper-container .swiper-slide:nth-child(4n+3) .card .card-img {
  background-image: url("../img/06-Section4-04.jpg");
  background-position: bottom;
  background-size: cover;
}

#section04 .block .swiper-container .swiper-slide .card {
  max-width: 20rem;
  border: unset;
  background-color: unset;
}

#section04 .block .swiper-container .swiper-slide .card .card-img {
  width: 100%;
  height: 250px;
}

@media screen and (max-width: 576px) {
  #section04 .block .swiper-container .swiper-slide .card .card-img {
    height: 200px;
  }
}

#section04 .block .swiper-container .swiper-slide .card .card-body .card-title {
  font-weight: bolder;
  color: #572b10;
}

@media screen and (max-width: 576px) {
  #section04 .block .swiper-container .swiper-slide .card .card-body .card-title {
    font-size: 24px;
  }
}

#section04 .block .swiper-container .swiper-slide .card .card-body .card-text {
  color: #542d10;
  text-align: justify;
  letter-spacing: 1px;
}

@media screen and (max-width: 576px) {
  #section04 .block .swiper-container .swiper-slide .card .card-body .card-text {
    font-size: 18px;
  }
}

#section04 .block .swiper-button-prev {
  left: -5%;
  background-image: unset;
}

@media screen and (max-width: 768px) {
  #section04 .block .swiper-button-prev {
    left: 3%;
  }
}

#section04 .block .swiper-button-next {
  right: -5%;
  background-image: unset;
}

@media screen and (max-width: 768px) {
  #section04 .block .swiper-button-next {
    right: 3%;
  }
}

#section05 {
  height: 100vh;
  position: relative;
}

#section05 .swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#section05 .swiper-container.gallery-top {
  height: 100%;
}

#section05 .swiper-container.gallery-top .swiper-wrapper .swiper-slide {
  background-size: cover;
  background-position: center;
  position: relative;
}

#section05 .swiper-container.gallery-top .swiper-wrapper .swiper-slide:nth-child(6n+1) {
  background-image: url("../img/07-Section5-01.jpg");
}

#section05 .swiper-container.gallery-top .swiper-wrapper .swiper-slide:nth-child(6n+2) {
  background-image: url("../img/07-Section5-02.jpg");
}

#section05 .swiper-container.gallery-top .swiper-wrapper .swiper-slide:nth-child(6n+3) {
  background-image: url("../img/07-Section5-03.jpg");
}

#section05 .swiper-container.gallery-top .swiper-wrapper .swiper-slide:nth-child(6n+4) {
  background-image: url("../img/07-Section5-04.jpg");
}

#section05 .swiper-container.gallery-top .swiper-wrapper .swiper-slide:nth-child(6n+5) {
  background-image: url("../img/07-Section5-05.jpg");
  background-size: 130%;
}

@media screen and (max-width: 1200px) {
  #section05 .swiper-container.gallery-top .swiper-wrapper .swiper-slide:nth-child(6n+5) {
    background-size: cover;
  }
}

#section05 .swiper-container.gallery-top .swiper-wrapper .swiper-slide:nth-child(6n+6) {
  background-image: url("../img/07-Section5-06.jpg");
}

#section05 .swiper-container.gallery-top .swiper-wrapper .swiper-slide .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 3;
  max-width: 60%;
  height: 100%;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  #section05 .swiper-container.gallery-top .swiper-wrapper .swiper-slide .content {
    max-width: 90%;
  }
}

#section05 .swiper-container.gallery-top .swiper-wrapper .swiper-slide .content .title {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 20px;
}

@media screen and (max-width: 1200px) {
  #section05 .swiper-container.gallery-top .swiper-wrapper .swiper-slide .content .title {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#section05 .swiper-container.gallery-top .swiper-wrapper .swiper-slide .content .title h2 {
  color: #ffe0b0;
  font-weight: bolder;
  text-shadow: #542d10 2px 2px 2px;
}

@media screen and (max-width: 576px) {
  #section05 .swiper-container.gallery-top .swiper-wrapper .swiper-slide .content .title h2 {
    font-size: 24px;
  }
}

#section05 .swiper-container.gallery-top .swiper-wrapper .swiper-slide .content .text p {
  color: #ffe0b0;
  text-shadow: #542d10 2px 2px 2px;
  text-align: justify;
  font-weight: 500;
}

@media screen and (max-width: 576px) {
  #section05 .swiper-container.gallery-top .swiper-wrapper .swiper-slide .content .text p {
    font-size: 18px;
  }
}

#section05 .swiper-container.gallery-top .swiper-wrapper .swiper-slide .cover {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #41220E70;
}

#section05 .swiper-container.gallery-top .swiper-button-next {
  right: 50px;
  background-image: unset;
}

#section05 .swiper-container.gallery-top .swiper-button-prev {
  left: 50px;
  background-image: unset;
}

#section05 .swiper-container.gallery-top .swiper-pagination .swiper-pagination-bullet {
  padding: 50px 50px;
  position: relative;
  background-color: unset;
  opacity: 0.8;
}

#section05 .swiper-container.gallery-top .swiper-pagination .swiper-pagination-bullet:nth-child(1)::before {
  content: "1972";
}

#section05 .swiper-container.gallery-top .swiper-pagination .swiper-pagination-bullet:nth-child(2)::before {
  content: "1990";
}

#section05 .swiper-container.gallery-top .swiper-pagination .swiper-pagination-bullet:nth-child(3)::before {
  content: "1999";
}

#section05 .swiper-container.gallery-top .swiper-pagination .swiper-pagination-bullet:nth-child(4)::before {
  content: "2012";
}

#section05 .swiper-container.gallery-top .swiper-pagination .swiper-pagination-bullet:nth-child(5)::before {
  content: "2013";
}

#section05 .swiper-container.gallery-top .swiper-pagination .swiper-pagination-bullet:nth-child(6)::before {
  content: "2016";
}

#section05 .swiper-container.gallery-top .swiper-pagination .swiper-pagination-bullet::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 25px;
  color: #fff1cc;
}

#section05 .swiper-container.gallery-top .swiper-pagination .swiper-pagination-bullet-active-main {
  position: relative;
}

#section05 .swiper-container.gallery-top .swiper-pagination .swiper-pagination-bullet-active-main::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../img/07-Section5-00.svg");
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: silder_arrow 0.8s ease-in-out infinite;
          animation: silder_arrow 0.8s ease-in-out infinite;
}

#section05 .swiper-container.gallery-thumbs {
  position: absolute;
  bottom: 50px;
  z-index: 5;
}

#section05 .swiper-container.gallery-thumbs .swiper-wrapper .swiper-slide {
  color: #fbf39b;
  text-align: center;
  font-size: 25px;
  height: 60px;
}

#section05 .swiper-container.gallery-thumbs .swiper-wrapper .swiper-slide.swiper-slide-active {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 40px;
}

#section06 {
  width: 100%;
  padding: 100px 0px;
  background-color: #fff1cc;
  background-image: url("../img/00-body-img.jpg");
  background-position: center;
  background-size: cover;
}

#section06 #map {
  height: 50vh;
}

#section07 {
  background-color: #fff1cc;
  background-image: url("../img/S-TeamBackground.jpg");
  background-position: center;
  background-size: cover;
  padding: 100px 0px;
}

@media screen and (max-width: 576px) {
  #section07 {
    padding: 100px 0px 50px;
  }
}

#section07 h1 {
  text-align: center;
  padding: 0px 0px 25px;
  font-weight: bolder;
  letter-spacing: 3px;
  color: #572b10;
}

#section07 .team .img {
  background-image: url("../img/team/TeamMembers.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  #section07 .team .img {
    width: 100%;
    height: 40vh;
  }
}

#section07 .team .Character {
  padding: 25px 0px;
}

@media screen and (max-width: 576px) {
  #section07 .team .Character {
    padding: 25px;
  }
}

#section07 .team .Character .name {
  padding: 25px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

#section07 .team .Character .name img {
  width: 80%;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  #section07 .modal .modal-dialog-centered {
    min-height: calc(100vh - 50px);
  }
}

@media screen and (max-width: 576px) {
  #section07 .modal .modal-dialog {
    margin: 25px 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  #section07 .modal .modal-dialog .modal-content {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  #section07 .modal .modal-dialog .modal-content .modal-header {
    height: 80vh;
  }
}

#section07 .modal .modal-header {
  position: relative;
  padding: 50px 25px;
  background-color: #FFE2B2;
}

@media screen and (max-width: 576px) {
  #section07 .modal .modal-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 100px 25px 50px;
  }
}

#section07 .modal .modal-header .close {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  background-color: #FFE2B2;
}

#section07 .modal .modal-header .img {
  max-height: 156px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 576px) {
  #section07 .modal .modal-header .img {
    max-height: unset;
  }
}

#section07 .modal .modal-header .img img {
  width: 75%;
  margin: auto;
}

#section07 .modal .modal-header .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 156px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#section07 .modal .modal-header .text h1 {
  width: 100%;
  text-align: center;
  padding: 0px;
}

#section07 .modal .modal-header .text h4 {
  text-align: center;
  letter-spacing: 10px;
}

footer {
  background-color: #572b10;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0px;
}

footer .footer span {
  font-size: 15px;
  color: #FFF;
}

footer .footer img {
  height: 30px;
}

@-webkit-keyframes silder_arrow {
  0%,
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  50% {
    -webkit-transform: translate(-50%, 10px) scale(0.9);
            transform: translate(-50%, 10px) scale(0.9);
  }
}

@keyframes silder_arrow {
  0%,
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  50% {
    -webkit-transform: translate(-50%, 10px) scale(0.9);
            transform: translate(-50%, 10px) scale(0.9);
  }
}

@-webkit-keyframes silder_compL {
  0%,
  100% {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  50% {
    -webkit-transform: translate(3px, -50%) scale(0.9);
            transform: translate(3px, -50%) scale(0.9);
  }
}

@keyframes silder_compL {
  0%,
  100% {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  50% {
    -webkit-transform: translate(3px, -50%) scale(0.9);
            transform: translate(3px, -50%) scale(0.9);
  }
}

@-webkit-keyframes silder_compR {
  0%,
  100% {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  50% {
    -webkit-transform: translate(-3px, -50%) scale(0.9);
            transform: translate(-3px, -50%) scale(0.9);
  }
}

@keyframes silder_compR {
  0%,
  100% {
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  50% {
    -webkit-transform: translate(-3px, -50%) scale(0.9);
            transform: translate(-3px, -50%) scale(0.9);
  }
}

@-webkit-keyframes background_flash {
  50% {
    background-image: url("../img/02-Banner-04.png");
  }
}

@keyframes background_flash {
  50% {
    background-image: url("../img/02-Banner-04.png");
  }
}
/*# sourceMappingURL=index.css.map */